body {
  height: 100vh;
  background: url('./city.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
  font-weight: bold;
  font-size: 60px;
  font-family: "Copperplate", "Papyrus", fantasy;
  text-shadow: 5px 5px 0px grey;
  text-align: center;
}

#popup {  
  font-weight: bold;
  position:fixed;
  left:0;
  right:0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 600px;
  height: auto;
  padding: 15px; 
  color: black; 
  background: white;
  text-align: center;
  box-sizing: content-box;
  border: 2px ridge black;
  z-index: 70;
}

button {
  margin-right: 10px;
  float: left;
  color: white;
  background: crimson; 
  padding: 15px;
}

#text {
  text-align: justify;
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
}

#map {
  display: block;
  width: 125%;       
  margin: 50px auto;  
  margin-left: 300px;
}
